extends ../templates/3-layout/layout.pug
block content
	.container
		.row
			.col-lg-12
				.page-header
					h1 Каталог
					p Это наш эксклюзивный бизнес-кейс, мы продаем сайты у нас в каталоге, выбирайте любой, для своего кота или бабушки, а может для продажи сварочного оборудования
		.row
			.column-catalog.col-lg-4.col-sm-4.col-xs-12
				h3 Сайт для песика
				.price Цена: 22 000
				.time Сроки: 10 минут
			.column-catalog.col-lg-4.col-sm-4.col-xs-12
				h3 Сайт для Бабушки
				.price Цена: 22 000
				.time Сроки: 20 минут
				.discount Пенсионерам скидки!
			.column-catalog.col-lg-4.col-sm-4.col-xs-12
				h3 Сайт для нефтяной компании
				.price Цена: 1 200 000
				.time Сроки: 6 месяцев