extends ../templates/layout.pug
block content

	- i = 0
	while i<10
		+bredcrumbs({
			bredcrumbs: [
				{
					name: 'Главная',
					link: 'index.html'
				},
				{
					name: 'Новость'
				}
			]
		})
		- i++
