doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="../css/main-JQuery.css")
		title Document 
		script(src="../js/app-jquery.js")
body
	.img-wrap
		img(src="../img/Google_Chrome.png", alt="img-text").img