extends ../templates/3-layout/layout.pug
block content
	.container
		.row
			.col-lg-12 
				.page-header
					h1 Главная страница
					p Мы занимаемся профессиональной разработкой дизайна с помощью шрифта комик-санс. На рынке нет конкурентов которые молги бы на таком уровне профессионализма реализовывать идеи заказчика только с помощью этого замечательного шрифта.
				h2 Последние новости:
				-var i=0
				while i<2
					+news
					-i++
				include ../templates/3-layout/pagination