doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet" href="../css/main.css")
		script(src="../js/main.js")
		title Document

	body
		include mixins
		include menu
		block content
