//- mixin bredcrumbs(a)
//-   ul.bredcrumbs&attributes(attributes)
//-     if a.bredcrumbs
//-       each bredcrumb in a.bredcrumbs
//-         li
//-           if bredcrumb.link
//-             a(href='#')
//-               span!= bredcrumb.name
//-           else
//-                 span!= bredcrumb.name

mixin news-preview
	article
		h2: a(href="#") gtgrtgrtgr g rt rt rt 
		p rerg  ergher  ergyre g
