footer
	.container
		div.footer__column.copyright 2015 © Партнер строй
		div.footer__column
			div.social__btns
				a.social__btn(href="https://www.facebook.com/", target="_blank") facebook
				a.social__btn(href="https://vk.com", target="_blank") vkontakte
				a.social__btn(href="https://www.youtube.com/", target="_blank") youtube
		div.footer__column.develop-of-site 
			a.social__btn(href="http://crtweb.ru/", target="_blank") Разработка сайта 
			span - агенство Creative