footer.clearfix
	.container
		div.footer__column.copyright 2015 © Партнер строй
		div.footer__column
			div.social__btns
				a.social__btn.social__btn_fb.social__btn_hover(href="https://www.facebook.com/", target="_blank") f
				a.social__btn.social__btn_vk(href="https://vk.com", target="_blank") vk
				a.social__btn.social__btn_yu(href="https://www.youtube.com/", target="_blank") yt
		div.footer__column.develop-of-site 
			a.btn-dev(href="http://crtweb.ru/", target="_blank") Разработка сайта 
			span - агенство Creative