doctype html
html(lang="en")
	include head
	body.page
		include header

		.page-content
			.container
				p.text.
					This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
				div.heading Typography Style
					h1 Heading 1. 40 px Lorem ipsum
					h2 Heading 2. 26 px Lorem ipsum dolor sit amet.
					h3 Heading 3. 18 px Lorem ipsum dolor sit amet.
					h4 Heading 4. 16 px Lorem ipsum dolor sit amet.
					h5 Heading 5. 14 px Lorem ipsum dolor sit amet.
					h6 Heading 6. 12 px Lorem ipsum dolor sit amet.
				div.highlights Highlights
					p.
						Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
				div.headlines Headlines
					h2.h2_head it’s responsive
					h1.text_green TAKE A LOOK TODAY
				div.two-list Lists
					div.lists.clearfix
						ul.lists_green-pseudo-checkbox
							li.lists_green-pseudo-checkbox__item Lorem ipsum dolor sit amet
							li.lists_green-pseudo-checkbox__item Aliquam quis dictum elit
							li.lists_green-pseudo-checkbox__item Aenean nec orci ut dolor
							li.lists_green-pseudo-checkbox__item Fusce molestie sagittis mi 
							li.lists_green-pseudo-checkbox__item Donec eu justo feugiat 
						ul.lists_number
							li.lists_number__item Lorem ipsum dolor sit amet
							li.lists_number__item Aliquam quis dictum elit
							li.lists_number__item Aenean nec orci ut dolor
							li.lists_number__item Fusce molestie sagittis mi 
							li.lists_number__item Donec eu justo feugiat 
				div.buttons Buttons
					div.buttons__wrapper.clearfix
						div.buttons__events
							div.buttons__column 
								span.button__inscription regular
								button.btn__events.btn__events_regular Все мероприятия
							div.buttons__column 
								span.button__inscription hover
								button.btn__events.btn__events_hover Все мероприятия
						div.buttons__weeks
							div.buttons__column
								span.button__inscription regular
								button.btn__weeks.btn__weeks_regular На прошлой неделе
							div.buttons__column
								span.button__inscription hover
								button.btn__weeks.btn__weeks_hover На прошлой неделе
				div.links
					.links__title Link hover
					div.links__column Regular 
						span.links-hover Hover
					div.links__column Regular 
						span.links-link Hover 
				div.quote Quote
					blockquote.quotes Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. - Marshall. T
				div.iconsFontAwesome
					.iconsFontAwesome_title iconsFontAwesome
					img(src="../img/iconsFontAwesome.png", alt="иконки FontAwesome")
				div.textColor Text color
					div.textColor-lists
						span.textColor-item.textColor-item_black Black  #000000 
						span.textColor-item.textColor-item_gray Gray #868686 
						span.textColor-item.textColor-item_green Green #5c9800 
						span.textColor-item.textColor-item_white White#ffffff 
						span.textColor-item.textColor-item_orange Orange #ff733f 
				div.socialShare
					.socialShare-title Social share
					.socialShare__btns
						span.socialShare__btn.socialShare__btn_fb
							a.socialShare__btn-link.socialShare__btn-link_fb(href="#") 26
						span.socialShare__btn.socialShare__btn_tw
							a.socialShare__btn-link.socialShare__btn-link_tw(href="#") 14
						span.socialShare__btn.socialShare__btn_ok
							a.socialShare__btn-link.socialShare__btn-link_ok(href="#") 3
						span.socialShare__btn.socialShare__btn_gplus
							a.socialShare__btn-link.socialShare__btn-link_gplus(href="#") 69
				div.dividers Dividers
					hr
				div.inputs 
					div.inputs-title Inputs
					div.inputs__column.inputs__column_green-bg
						label Regular input
						input
						label Hover
						input.hover
						label Filling
						input.filling(value="John Snow")
						label.wrong Wrong
							input
					div.inputs__column.inputs__column_gray-bg
						label Regular input
						input
						label Hover
						input.hover
						label Filling
						input.filling
						label.wrong Wrong
							input
				.filter
					.filter-title Filter
					a.btn-filter.btn-filter_active(href="#") Все 
					a.btn-filter.btn-filter_regular(href="#") Ближайшие мероприятия 
					a.btn-filter.btn-filter_hover(href="#") Прошедшие мероприятия
					 
		include footer
