doctype html
html(lang="en")
	include head
	body.page
		include header

		.container
			p.text.
				This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
			div.heading Typography Style
				h1 Heading 1. 40 px Lorem ipsum
				h2 Heading 2. 26 px Lorem ipsum dolor sit amet.
				h3 Heading 3. 18 px Lorem ipsum dolor sit amet.
				h4 Heading 4. 16 px Lorem ipsum dolor sit amet.
				h5 Heading 5. 14 px Lorem ipsum dolor sit amet.
				h6 Heading 6. 12 px Lorem ipsum dolor sit amet.
			div.Highlights Highlights
				p.
					Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
			div.Headlines Headlines
				h2.h2_head it’s responsive
				h1.text_green TAKE A LOOK TODAY
			div.Lists Lists
				ul.Lists_green-pseudo-checkbox
					li Lorem ipsum dolor sit amet
					li Aliquam quis dictum elit
					li Aenean nec orci ut dolor
					li Fusce molestie sagittis mi 
					li Donec eu justo feugiat 
				ul.Lists_number
					li Lorem ipsum dolor sit amet
					li Aliquam quis dictum elit
					li Aenean nec orci ut dolor
					li Fusce molestie sagittis mi 
					li Donec eu justo feugiat 
			div.Buttons Buttons
				div.Buttons__events
					div.Buttons__column
						button.btn__events_regular Все мероприятия
					div.Buttons__column
						button.btn__events_hover Все мероприятия
				div.Buttons__weeks
					div.Buttons__column
						button.btn__weeks_regular На прошлой неделе
					div.Buttons__column
						button.btn__weeks_hover На прошлой неделе
			div.links
				div.links__column Regular 
					span.links-hover Hover
				div.links__column Regular 
					span.links-link Hover 
			div.Quote
				blockquote Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. - Marshall. T
			div.iconsFontAwesome iconsFontAwesome
				img(src="", alt="иконки FontAwesome")
			div.textColor Text color
				div.textColor-lists
					span.textColor-item Black  #000000 
					span.textColor-item Gray #868686 
					span.textColor-item Green #5c9800 
					span.textColor-item White#ffffff 
					span.textColor-item Orange #ff733f 
			div.socialShare Social share
			div.dividers Dividers
				hr
			div.inputs
				div.inputs__column.inputs__column_green-bg
					label Regular input
					input
					label Hover
					input
					label Filling
					input
					label Wrong
					input(placeholder="John Snow")
				div.inputs__column
					label Regular input
					input
					label Hover
					input
					label Filling
					input
					label Wrong
					input
			div.filter Filter
				a.btn-filter.btn-filter_active(href="#") Все 
				a.btn-filter(href="#") Ближайшие мероприятия 
				a.btn-filter(href="#") Прошедшие мероприятия
				 
		include footer
