.footer
	.container
		.row
			.col-lg-4
				.contact-info
					.contact-info__title Пишите нам письма
						a.contact-info__mail(href="mailto:contact@ya.ru") contact@ya.ru
						a.contact-info__tel(href="tel:+79999999999") +7999 999 99 99
			.col-lg-4
				.slogan Все мы соседи
			.col-lg-4
				ul.footer-menu
					li.footer-menu__item
						a.footer-menu__link(href='#') О проете
					li.footer-menu__item
						a.footer-menu__link(href='#') Команда
					li.footer-menu__item
						a.footer-menu__link(href='#') Партнёры