footer.navbar-default
	.container-fluid 
		.row
			.footer-column.col-lg-2.col-md-2.col-sm-2.col-xs-12.pull-left
				a.footer-logo(href='#')
					i.icon-play-circled2
					|watchopolis
			.footer-column.col-lg-7.col-md-7.col-sm-7.col-xs-12.pull-left 2013 
				span.text-bold-gray Watchopolis 
				| Video Portal Theme - Crafted by 
				a(href="#", target="_blank") Themestrap
			.footer-column.col-lg-3.col-md-3.col-sm-3.col-xs-12.pull-right.text-right
				.social-btns
					.social-btn.btn-group
						a.btn.btn-default(href="#", target="_blank"): i.icon-twitter
						a.btn.btn-default(href="#", target="_blank"): i.icon-pinterest-circled
						a.btn.btn-default(href="#", target="_blank"): i.icon-facebook
						a.btn.btn-default(href="#", target="_blank"): i.icon-gplus
